/* @media print {
    body {
        width: 8.25in;
        height: 11.75in;
        margin: 0 0 0 0;
    }
} */

/* colors:
grey #454d66
green #309975
lighter green #58b368
yellow #dad873
lighter yellow #efeeb4 */

@page {
    size: A4;
    /* margin: 40px; */
    @bottom-right{
        content: "Seite " counter(page) " von " counter(pages);
    }
}

header {
    font-family: sans-serif;
}

header h1 {
    font-size: 16pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}

header span {
    font-size: 10pt;
}

body {
    font-family: sans-serif;
    font-size: 10pt;
}

a {
    text-decoration: none; 
    color: inherit;
}

section h2 {
    font-size: 12pt;
}

.stationheader {
    width: 100%;
    border-bottom: 1px solid black;
    margin-left: 20px;
}

.stationtitlerow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stationplacerow {
    width: 100%;
    font-size: 8pt;
}

.stationtitle {
    font-style: italic;
}

.skillrow {
    display: flex;
    justify-content: space-between;
}

/* .skillset {

} */

.skillset > ul {
    /* margin-left: 0; */
    padding-left: 20px;
}

/* .skilltitle {

} */

.skillentry {
    /* white-space: pre; */
    font-style: italic;
    /* margin-left: 0px; */
}

.skilldesc {
    font-style: normal;
}

.skillname {
    background-color: #efeeb4;
}