/* @media print {
    body {
        width: 8.25in;
        height: 11.75in;
        margin: 0 0 0 0;
    }
} */

@page {
    size: A4;
    margin: 40px;
    @bottom-right{
        content: "Seite " counter(page) " von " counter(pages);
    }
}

header {
    font-family: sans-serif;
}

header h1 {
    font-size: 16pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}

header span {
    font-size: 10pt;
}

body {
    /* margin: 40px; */
    /* font-family: "Adobe Caslon Pro", "Minion Pro", serif; */
    font-family: sans-serif;
    font-size: 11pt;
}

a {
    text-decoration: none; 
    color: inherit;
}

section h2 {
    font-size: 12pt;
}

.jobheader {
    width: 100%;
    border-bottom: 1px solid black;
    margin-left: 20px;
}

.jobtitlerow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.employerrow {
    width: 100%;
    font-size: 9pt;
}

.jobtitle {
    font-style: italic;
}